body {
  color: #222;
  font-family: "ISO", monospace;
}

h2 {
  letter-spacing: 0.05em;
}

p {
  font-size: 2rem;
  margin-bottom: 2.3rem;
  letter-spacing: 0.05em;
  line-height: 1.6;
}

article ul a,
p a,
p a:hover {
  color: #0080ab;
  font-weight: normal;
  text-decoration: underline;
}

blockquote {
  padding: 2rem;
  font-size: 1.2em;
}

pre, code {
  background-color: #f6f8fa!important;
  color: #333;
  font-weight: 400;
}

pre {
  border: 1px #Dfdfdf solid;
  padding: 1.2rem;
  margin-bottom: 2rem;
}

.navigation {
  margin-top: 2rem;
}
.navigation a {
  font-size: 2rem;
  font-weight: normal;
}
.social-links .fab {
  color: #0080ab;
}

section.container.post,
section.container.page {
  max-width: 80rem;
}

article h1 {
  font-size: 3.5rem;
}

article h1,
article h2 {
  line-height: 3.2rem;
}

article h2,
article h3 {
  text-transform: none;
}

article li {
  margin-top: 1rem;
}

.list ul li {
  font-size: 2rem;
  line-height: 1.6;
}
.list ul li span {
  width: 24rem;
}

.footer {
  margin-bottom: 4rem;
}

.footer p {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
}

.end-line {
  display: flex;
  margin-top: 6rem;
}
.end-line img {
  height: 110px;
  margin-right: 2rem;
}

.end-line p {
  max-width: 500px;
  font-size: 0.95em;
  line-height: 1.6;
  margin-top: 0.5rem;
}
