---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>
<hr>
<p>Hey, I hope you found this article helpful. Believe it or not, it took me hours to write this down, so why not pinging me on <a href="http://twitter.com/PascalPrecht">Twitter</a> and give some <span style="color: red;">&hearts;</span> back?<br><br>Cheers!</p>

<div class="related">
  <h2>Related posts:</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

